%h2= "#{@album.name} by #{ link_to @album.user.name, @album.user }".html_safe
%h5 #{link_to "Update Your Album", edit_album_path(@album)}

%h5 #{link_to "Add an Image", new_album_image_path(@album)}

- @album.images.each do |image|
  = div_for(image) do
    = image_tag image.thumb_url
    = link_to image.name, image
    = create_cover_link(image)
